/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
main{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
#main-2{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.container{
    width: 988px;
}
/*========
first banner
==========*/
.first-banner{
    width: 100%;
    /* background: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 115%;
}
.banner-description{
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.banner-description h2{
    font-size: 40px;
    color: #3A3A3A;
}
.banner-description p{
    margin-top: 23px;
    line-height: 20px;
    margin-bottom: 25px;
    font-size: 17px;
    text-align: justify;
}
.button-design{
    display: flex;
    border: 1px solid black;
    width: 168px;
    margin-top: 13px;
	height: 54px;
    border-radius: 43px;
    background-color: #E02C6D;
}
.button-design a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins';
    padding: 14px 13px;
}
.fa-arrow-right{
	margin-top: 19px;
    font-size: 17px;
    color: #fff;
}
.first-banner img{
    width: 385px;
    height: 270px;
}

/*================
            section2
    ===============*/
.section-2{
    margin-top: 110px;
}
.card-border{
    margin-top: 24px;
    border: 1px solid black;
}
.card-title{
    text-align: center;
    padding-top: 19px;
    margin-bottom: 17px;
}
.cards{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: space-between;
grid-row-gap: 10px;
}
.card{
	width: 260px;
}
/*==============
    card animation
=================*/
.card:hover img{
	transform:rotate(360deg) scale(1.2);
	transition: transform 1s;
}
.card-img:hover .card-des {
	transform:scale(1.2);
	transition: transform 1s;
	margin-left: 10px;
}
.card-img:hover .card-des p{
	color: #da4179;
	font-weight: 900;
}
.card-img:hover .card-des h4{
	color: #c7567f;
}

.card-img{
	width: 260px;
    padding: 11px 8px;
    background: #fff9f9;
    box-shadow: 1px -3px 5px #c4baba;
}
.card-img img{
    width: 252px;
    height: 259px;
}
.card-des{
    height: 192px;
    width: 100%;
}
.card-des h4{
    color: #18191F;
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
}
.card-des p{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}
.icons{
	display: flex;
    width: 158px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.fa-star{
	color: goldenrod;
}
.empty{
	color: #000000;
}
.icon-des{
    width: 159px;
    height: 56px;
}
.icon-des small{
    font-size: 14px;
}
/*===========
    right button
=============*/
.right-button{
	display: flex;
    width: 139px;
	margin-left: 84%;
}
.right-button a{
    text-decoration: none;
    color: rgb(165, 46, 46);
    padding: 9px 16px;
    font-size: 20px;
}
.right-button .fa-arrow-right{
margin-top: 15px;
color: rgb(165, 46, 46);
}








/*===========
media query
=============*/

@media only screen and (max-width: 688px){
   main{
       width: 100%;
   }
   #main-2{
       width: 100%;
       margin-top: 90px;
   }
    .container{
        width: 100%;
    }
.first-banner{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
.banner-description{
    width: 100%;
}
.banner-description h2{
    text-align: center;
    font-size:28px;
}
.banner-description p{
    width: 50%;
   margin: 20px auto;
}
.button-design{
    margin: 10px auto;
}
.first-banner img{
    width: 300px;
    height: 300px;
}

.cards{
    grid-template-columns: repeat(1, 1fr);
}
}